.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px - 50px); /* ヘッダーとフッターの間の高さ */
  width: calc(100vw - 200px * 2); /* 左右パネルの間の幅 */
  margin-top: 50px; /* ヘッダーの高さ分下げる */
  margin-left: 200px; /* 左パネルの幅分右にずらす */
  transform-origin: center;
  transition: transform 0.2s ease, transform-origin 0.2s ease;
  background-color: white;
  overflow: auto;
}

.button {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  width: 500px;
  height: 600px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #f8f9fa;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.resetButton {
  background-color: #28a745;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  margin-right: 10px;
}

.fullScreenButton {
  background-color: #17a2b8;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.leftPanel,
.rightPanel {
  position: fixed;
  top: 50px; /* ヘッダーの下に配置 */
  height: calc(100vh - 50px - 50px); /* ヘッダーとフッターの間の高さ */
  width: 200px;
  background-color: #e9ecef;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.leftPanel {
  left: 0;
}

.rightPanel {
  right: 0;
}