.root {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 20px;
  word-wrap: break-word;

  background-color: #f4f4f4;
  border-right: 1px solid #ddd;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  /* 非表示 */
  transform: translateX(-100%);

  &.open {
    /* 表示 */
    transform: translateX(0);
  }
}