.root {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* display: flex; */
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  /* margin: 0 が無いとズレます*/
  margin: 0;
}

.root.maximized {
  width: 98vw;
  height: 98vh;
  top: 1vw !important;
  left: 1vh !important;
  transform: none;
}

button.maximized {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 0;
}